* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    max-width: 1440px;
    font-family: inter;
}

/* TITLE */

.head-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.title-1 {
    font-size: 16px;
    font-weight: 600;
}

.title-2 {
    font-size: 54px;
    font-weight: 600;
}

.title-3 {
    margin-top: 16px;
    font-size: 20px;
    text-align: center;
    color: #5F6980;
}

/* MAIN */

.second-panel {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin: 32px;
}

.card {
    width: 310px;
    height: 430px;
    border: 1px solid;
    border-color: #EAECF0;
    box-shadow: 5px 5px 20px rgb(218, 218, 218);
}

.text {
    display: flex;
    flex-direction: column;
    text-align: unset;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 16px;
}

.name {
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.name-text {
    font-weight: 400;
    line-height: 22px;
    color: #5F6980;

}

.social {
    width: 140px;
    display: flex;
    margin-top: 24px;
    margin-left: 16px;
    justify-content: space-between;
}

/* FOOTER */
.logo-image {
    margin-left: -12px;
}

.background {
    display: flex;
    height: 512px;
    background-color: #53535354;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    margin-top: 32px;
    color: #535353;
}

.social-black {
    display: flex;
    justify-content: space-between;
    width: 104px;
    margin-top: 28px;
}

.website-title {
    font-size: 20px;
    
}

.about {
    font-size: 14px;
    margin-top: 71px;
    color: #535353;
}

li {
    margin-top: 35px;
}

.bottom {
    display: flex;
    width: 80px;
    height: 45px;
    background-color: #054A68;
    color: white;
    font-size: 14px;
    margin-top: 58.45px;
    align-items: center;
    justify-content: center;
}

.inside-box {
    width: 1305px;
    display: flex;
    justify-content: space-between;
}





